---
layout: page
# The Archives of posts.
---

{% include lang.html %}

{% assign df_strftime_m = site.data.locales[lang].df.archives.strftime | default: '/ %m' %}
{% assign df_dayjs_m = site.data.locales[lang].df.archives.dayjs | default: '/ MM' %}

<div id="archives" class="pl-xl-3">
  {% assign last_year = "" %}

  <h3>Archives</h3>
  <ul class="list-unstyled">
    {% assign combined = site.posts | concat: site.artworks %}
    {% assign sorted_combined = combined | sort: 'date' %}

    {% for item in sorted_combined %}
      {% assign cur_year = item.date | date: '%Y' %}

      {% if cur_year != last_year %}
        {% unless forloop.first %}</ul>{% endunless %}
        <time class="year lead d-block">{{ cur_year }}</time>
        <ul class="list-unstyled">
        {% assign last_year = cur_year %}
      {% endif %}

      <li>
        <span class="date day">{{ item.date | date: '%d' }}</span>
        <span class="date month small text-muted ms-1">{{ item.date | date: df_strftime_m }}</span>
        <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
        {% if item.title contains 'Post' %}
          <span class="type">[Post]</span>
        {% elsif item.title contains 'Artwork' %}
          <span class="type">[Artwork]</span>
        {% endif %}
      </li>

    {% endfor %}

    {% if forloop.last %}</ul>{% endif %}
  </ul>
</div>

