---
layout: default
refactor: true
panel_includes:
  - toc
tail_includes:
  # - related-posts
  # - post-nav
script_includes:
  - comment
---

<link rel="stylesheet" href="/assets/css/artwork.css">

{% include lang.html %}

{% include toc-status.html %}

<article class="px-1" data-toc="{{ enable_toc }}">
  <header>
    <div class="content">
    <!-- 본문 내용의 상단에 있는 이미지 -->
    {{ content }}
  </div>
    <!-- 제목 -->
    <span data-toc-skip class="title" style="margin-top: 0.5rem; margin-bottom: 0.5rem;">{{ page.title }}</span> <br/>
    {% if page.description %}
      <span class="post-desc fw-light mb-2">{{ page.description }}</span>
    {% endif %}

    <div class="post-meta text-muted">
      <!-- 태그 -->
      {% if page.tags.size > 0 %}
        <div class="post-tags">
          <i class="fa fa-tags fa-fw me-1"></i>
          {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/tags/{{ tag | slugify | url_encode }}/" class="post-tag no-text-decoration">{{- tag -}}</a>
          {% endfor %}
        </div>
      {% endif %}

      <!-- 날짜 -->
      <div class="post-meta text-muted">
        <span>
          {{ site.data.locales[lang].post.posted }}
          {% include datetime.html date=page.date tooltip=true lang=lang %}
        </span>

        <!-- 수정된 날짜 -->
        {% if page.last_modified_at and page.last_modified_at != page.date %}
          <span>
            {{ site.data.locales[lang].post.updated }}
            {% include datetime.html date=page.last_modified_at tooltip=true lang=lang %}
          </span>
        {% endif %}
      </div>
    </div>
  </header>

  {% if enable_toc %}
    <!-- TOC 관련 코드 -->
    {% include toc.html %}
  {% endif %}

  <div class="post-tail-wrapper text-muted margin-top: 0.5rem; margin-bottom: 0.5rem;">
    <!-- 카테고리 -->
    {% if page.categories.size > 0 %}
      <div class="post-meta mb-3">
        <i class="far fa-folder-open fa-fw me-1"></i>
        {% for category in page.categories %}
          <a href="{{ site.baseurl }}/categories/{{ category | slugify | url_encode }}/">{{ category }}</a>
          {%- unless forloop.last -%},{%- endunless -%}
        {% endfor %}
      </div>
    {% endif %}

  </div>
</article>
